
*{
	margin: 0;
	padding: 0;
	font-family: 'Fredoka', sans-serif;
	word-spacing: 0.8px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
}

#all{
	overflow: hidden;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}
/**************** header ****************/

.logo img{
	width: 130px;
	height: 100px;
}
.header{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background: #f4f4f4;
}
.header nav ul{
	display: flex;
}
.header nav ul li{
	margin-right: 20px;
}
.header nav ul li a{
	color: #101010;
	opacity: 0.6;
	font-size: 1.1em;
}
.header nav ul li a:hover{
	opacity: 1;
}
/****************  MAIN ****************/
.title{
	color: #767676;
	margin: 50px 0;
  	text-align: center;
}

.project{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}
.item-left{

}
.item-right{
	
}
.box{
	margin: 0 20px 50px 0;
	text-align: center;
}
.box img{
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.box img:hover{
	opacity: 0.7;
}
.text{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.box h2{
	width: 100%;
	margin: 20px 0;
	text-align: center;
}
.box h2 a{
	color:#ff8d8d;
}
.box h2 a:hover{
	background-color: #e4e4e4;
	border-radius: 4px;
}
.text dt{
	width: 20%;
	line-height: 12px;
    border-bottom: 1px solid;
    text-align: left;
    border-color: #d7d7d7;
    margin-bottom: 10px;
}
.text dd{
	width: 70%;
	line-height: 17px;
    border-bottom: 1px solid;
    border-color: #d7d7d7;
    margin-bottom: 10px;
}

/****************  footer ****************/
footer{
	width: 100%;
	height: 10vh;
	padding: 30px;
	background: #f4f4f4;
	text-align: center;
}


/**************** Media Queries ****************/

@media screen and (max-width: 840px){

.title h1{
	font-size: 25px;
}
.project {
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.box {

    margin: 20px;
}
.item-right {
    margin-top: 30px;
 }
}
